body {
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
  padding: 16px;
}
.section {
  margin-bottom: 32px;
}
#emotion-history .mdc-card {
  margin-top: 8px;
}
#achievement-list .mdc-card {
  margin-top: 8px;
}
.mdc-text-field {
  width: 100%;
}
.mdc-text-field--textarea {
  width: 100%;
}
